/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

        withName: 'NEXCLADE_DATASET' {
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*"
                ]
        }

        withName: 'NEXCLADE_RUN' {
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
                ]
        }

        withName: 'FILTER_SEQUENCES' {
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
                ]
        }

        withName: 'GET_NONSYNONYMOUS' { 
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
                ]
        }

        withName: 'GET_KEY_SITES' { 
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
                ]
        }

        withName: 'CONSTRUCT_HAPLOTYPES' { 
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
                ]
        }
        
        withName: 'CONSTRUCT_DIVERGENT_PATHWAYS' { 
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.csv"
                ]
        }

        withName: 'GET_INFOS' { 
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
                ]
        }
}