/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run kwtrp-peo/viralphyl -profile test_nanopore,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for Nanopore data'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '10.GB'
    max_time   = '6.h'

    
    // Global parameter
    outdir              = "${projectDir}/Results"

    // Nextclade parameters
    input_fasta         = "${projectDir}/test_data/sequences.fasta"
    input_metadata_tsv  = "${projectDir}/test_data/metadata.tsv"
    name                = "sars-cov-2"
    genome_csv          = "${projectDir}/defaults/genome.csv"
    output              = "nextclade_sc2_dataset"
    min_length          = 27000
    reference_dir       = "${projectDir}/defaults/reference"
}
