/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run samordil/nfcovSubsampler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for Nanopore data'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '10.GB'
    max_time   = '6.h'

    // Nextclade parameters
    input_fasta         = "${projectDir}/test_data/sequences.fasta"
    input_metadata_tsv  = "${projectDir}/test_data/metadata.tsv"

    // Sampling parameter
    seed                = 8940
    sample_size         = 5
    characteristic      = "Comprehensive"
    date_start          = '2020-05-01'
    date_end            = '2022-04-31'
    temporally_even      = true
}